* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 700px;
  margin: 40vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.counters {
  display: inline-block;
}
